:root{
    --text: rgba(250, 250, 250, 1);
    --button: rgba(0, 0, 0, 1);
    --secondary:rgb(245, 245, 245,1);
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--text);

    font-family: Arial, sans-serif;;
}
.gird{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.gird__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
}
