.top-header {
    width: 100%;
    height: 48px;
    background-color: var(--button);
    margin: 0;
}

.top-header .frame {
    gap: 60%;
    top: 12px;
    left: 32%;
    display: inline-flex;
    position: absolute;
    
}

.top-header .div-1 {
    align-items: center;
    gap: 8px;
    flex: 0 0 auto;
    color: white;
    display: inline-flex;
}
.top-header.text-wrapper{
    position: absolute;
    height: 18px;
    white-space: nowrap;
}

.top-header .text-wrapper-2 {
    position: relative;
    color: var(--text);
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
}

.frame .div-2 {
    gap: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
}

.frame .text-wrapper-3 {
    color: var(--text);
}

.frame .drop-down {
    position: relative;
    width: 24px;
    height: 24px;
}
  
